.search-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 30px;

  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.search-filters-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
}

.search-param-group-section-container {
  display: grid;
  grid-row-gap: 15px;
}

.search-filter-section-header {
  margin: 0;
}
